.experience {
  background-color: #fafafa;
}

.experience-img {
  width: 90%;
  height: auto;
}

@media screen and (max-width: 1160px) {
  .experience-img {
    margin: 40px 0 80px;
    width: 100%;
  }
}

.slider-card {
  padding: 20px 2px;
}

.company-name {
  color: #17A2B8;
}

.view-button {
  background: #0db3c7;
  border-color: #0db3c7;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  padding: 12px 28px;
  border-radius: 3px;
}

ul.slick-dots {
  margin: 0;
}